#test-dialog {
  position: fixed;
  padding-top: 150px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
  #test-dialog .dialog-shadow {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5; }
  #test-dialog .dialog-content {
    border-radius: 5px;
    position: relative;
    background: white;
    padding: 40px 20px 20px 20px;
    width: 500px;
    margin: 0 auto; }
    #test-dialog .dialog-content .btn_close {
      position: absolute;
      right: 20px;
      top: 20px; }
